<div id="content" class="container">
    <header id="header" class="col-lg-12">
        <h1>
            {{ title }}
        </h1>
    </header>

    <nav id="nav" class="col-lg-12">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Crear prodcuto</a></li>
      </ul>
    </nav>

    <section id="main" class="col-lg-12">
      <!-- Componente actual -->
      <h3>Texto principal</h3>
    </section>

    <footer class="col-lg-12">
      Esto es un footer 2018
    </footer>
</div>
