<div class="col-lg-10 col-lg-offset-1">
  <div class="jumbotron">
    <h2>{{titlte}}</h2>
    <p>Gestino tus productos con la aplicacion SPA</p>
    <p>
      <a [routerLink] = "['/product-list']" class="btn btn-lg btn-primary">Ver productos</a>
      <a [routerLink] = "['/product-add']" class="btn btn-lg btn-success">Agregar productos</a>
    </p>
  </div>
</div>
